atomicwrites==1.4.0
attrs==20.3.0
BareNecessities==0.2.8
blinker==1.4
cachelib==0.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Django==1.11
django-six==1.0.4
Flask==1.1.2
Flask-Look-Mysql==1.0.6
Flask-Mail==0.9.0
Flask-MySQL==1.5.1
greenlet==1.0.0
gunicorn==20.1.0
heroku==0.1.4
humanfriendly==9.1
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
Mail==2.1.0
MailServices==0.0.0
MarkupSafe==1.1.1
mysql==0.0.2
mysql-autodoc==0.2
mysql-autoxtrabackup==1.5.5
mysql-client==0.0.1
mysql-connector==2.2.9
mysql-connector-async-dd==2.0.2
mysql-connector-python==8.0.22
mysql-connector-python-dd==2.0.2
mysqlclient==2.0.2
packaging==20.9
pid==3.0.4
Pillow==8.2.0
pillowcase==2.0.0
pluggy==0.13.1
protobuf==3.14.0
psutil==5.8.0
psycopg2==2.8.6
py==1.10.0
PyJWT==1.7.1
PyMsgBox==1.0.9
PyMySQL==0.10.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-comet==1.0.3
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
PyQtWebEngine==5.15.2
pyreadline==2.1
pytest==6.2.2
python-dateutil==1.5
python-http-client==3.1.0
pytz==2020.4
requests==2.25.1
sendgrid==6.0.4
six==1.15.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.7
toml==0.10.2
twilio==6.56.0
urllib3==1.26.4
Werkzeug==1.0.1
