<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Royal humpers india</title>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-layout.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-smallscreen.css')}}" type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/font-awesome.min.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/style.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/easy-responsive-shortcodes.css')}}" type='text/css' media='all'/></head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="index.html" rel="home">Royal humpers india</a></h1>
			<h2 class="site-description">This website here to help you</h2>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li><a href="/">Home</a></li>
				
				<li><a href="/shop">shop</a></li>
				
				<li><a href="/event">Events</a></li>
				<li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="">product</a></li>
					<li><a href="">vendor</a></li>
					<li><a href="/realEstate">real estate</a></li>
					<li><a href=""></a>automobile</li>
				</ul>
				</li>
				<li><a href="">service</a>
					<ul class="sub-menu">
						<li value=""><a href="/service?search=plumber">plumber</a></li>
						<li><a href="/service?search=Painters">Painters</a></li>
						<li><a href="/service?search=Carpenters">Carpenters</a></li>
						<li><a href="/service?search=Loading auto service">Loading auto service</a></li>
						<li><a href="/service?search=Electrician">Electrician</a></li>
						<li><a href="/service?search=Key lock repair">Key lock repair</a></li>
						<li><a href="/service?search=Aluminium window & glass repairing">Aluminium window & glass repairing</a></li>
						<li><a href="/service?search=CCTV camera service">CCTV camera service</a></li>
						<li><a href="/service?search=Construction contractor">Construction contractor</a></li>
						<li><a href="/service?search=Water can supplier">Water can supplier</a></li>
						<li><a href="/service?search=Two-wheeler mechanic">Two-wheeler mechanic</a></li>
						<li><a href="/service?search=Four-wheeler mechanic">Four-wheeler mechanic</a></li>
						<li><a href="/service?search=Kitchen appliances repairing">Kitchen appliances repairing</a></li>
						<li><a href="/service?search=Home appliances repairing">Home appliances repairing</a></li>
						<li><a href="/service?search=Other electronics repairing">Other electronics repairing</a></li>
						<li><a href="/service?search=Tiles & flooring installation">Tiles & flooring installation</a></li>
						<li><a href="/service?search=Fabrication & Welding">Fabrication & Welding</a></li>
						<li><a href="/service?search=Tyre puncture repair">Tyre puncture repair</a></li>
					</ul>
				</li>
				<li><a href="/about">About</a></li>
				<li><a href="#">contact</a>
					<ul class="sub-menu">
						<li><a href="/contact">contact</a></li>
						<li><a href="/sign_up">register</a></li>
						<li><a href="/real_Estate">Real_Estate_Reg</a></li>
						
						<li><a href=""></a></li>
					</ul>
				</li>
			</ul>
		</div>
		</nav>
		</header>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main">
				
				<article class="hentry">
				<header class="entry-header">
				<h1 class="entry-title">About</h1>	
				</header>
				<!-- .entry-header -->

				<div class="entry-content">
				<p><img style="border:10px solid #f4f5f6" src="{{url_for('static',filename='img/royal_humbers.jpeg')}}" alt="bg5" width="430" class="alignright"></p>
				<p>Introduction
Royal humpers india is the platform an idea which makes people unite and motivates them to come forward and work together. On this platform we provide construction goods, sanitary, stationery and all kind of work orders for goverment institutions and for private sectors as well. We provide services for daily household needs and for new house or office construction. We also customize goods as per your choice and recycle waste for swacch bharat. Here you get your very well known local shopkeepers and vendors and servicemen on your one click. We support "vocal for local" and provide 100% genuine dealers and sevicemen.
Royal humpers india a step towards dreams and a name of trust. We build relations and make our nation unite. Think royal. Think india.</p>
				<p>
We are here to introduce our platform to you people. An idea which carries a big amount of endurance to make your everyday needs easier, your unstable business smooth and gives you an opportunity to prove yourself in being a smart citizen of nation.
Our chain is an idea which carries a dream to make many unfulfilled desires fulfill. Yes only if we decide to support this and come together in making our country and our people more
efficient.</p><p>
What we do:
We give people an opportunity to provide
their contribution to make india more self-efficient. For
instance, if we go for shopping online or if we need an labor for our daily household basic needs we face difficulties to get them. But here all products are served to you direct from local market and with services your required serviceman is just a call away from you. Our platform is giving doorstep facility to help you in making your life easier.</p><p>
How we do:
We join retail as well as wholesale local shopkeepers together to provide goods at very reasonable rates to society. We join only trusted and genuine shopkeepers. in online shopping from multinational chains we face fraudulent consequences sometimes in monetary terms. But here your money is safe you pay after getting satisfied with your deliveries. Our serviceman are experienced and genuine too. Here we support "vocal for local" as our pm introduced us to make our nation's economy stable.</p><p>
Do you know?
After coming in public eye multinational online e-commerce chains are making money from us and getting fame and name by earning from us. And they always do what makes our life easy and less time taking. They charge extra from our local shopkeepers to give services to us and make safe money for their own. But here we need to know our local market is getting down day by day and unwillingly either they change their business or wind it up. Laborers are not getting proper work We need to support them if we support local people our economy becomes stronger.
Royal humpers india is a one stop solution for your basic household needs as well as your construction related requirements and here working with us you are giving your contribution to your nation and its economy.</p>
				<h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">we help you</h2>
				</div><!-- .entry-content -->
				</article>
				
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Royal humpers india</h1>
			 
		</div>
	</div>	
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/plugins.js')}}"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
<script src="{{url_for('static',filename='js/masonry.pkgd.min.js')}}"></script>
<script src="{{url_for('static',filename='js/accordion.js')}}"></script>
<script src="{{url_for('static',filename='js/tabs.js')}}"></script>
<script src="{{url_for('static',filename='js/toggle.js')}}"></script>
</body>
</html>