<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Royal humpers india</title>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-layout.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-smallscreen.css')}}" type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/font-awesome.min.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/style.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/easy-responsive-shortcodes.css')}}" type='text/css' media='all'/>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="/" rel="home">Royal humpers india</a></h1>
			<h2 class="site-description">This website here to help you</h2>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li><a href="/">Home</a></li>
				
				<li><a href="/shop">shop</a></li>
				
				<li><a href="/event">Events</a></li>
				<li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="">product</a></li>
					<li><a href="">vendor</a></li>
					<li><a href="/realEstate">real estate</a></li>
					<li><a href=""></a>automobile</li>
				</ul>
				</li>
				<li><a href="">service</a>
					<ul class="sub-menu">
						<li value=""><a href="/service?search=plumber">plumber</a></li>
						<li><a href="/service?search=Painters">Painters</a></li>
						<li><a href="/service?search=Carpenters">Carpenters</a></li>
						<li><a href="/service?search=Loading auto service">Loading auto service</a></li>
						<li><a href="/service?search=Electrician">Electrician</a></li>
						<li><a href="/service?search=Key lock repair">Key lock repair</a></li>
						<li><a href="/service?search=Aluminium window & glass repairing">Aluminium window & glass repairing</a></li>
						<li><a href="/service?search=CCTV camera service">CCTV camera service</a></li>
						<li><a href="/service?search=Construction contractor">Construction contractor</a></li>
						<li><a href="/service?search=Water can supplier">Water can supplier</a></li>
						<li><a href="/service?search=Two-wheeler mechanic">Two-wheeler mechanic</a></li>
						<li><a href="/service?search=Four-wheeler mechanic">Four-wheeler mechanic</a></li>
						<li><a href="/service?search=Kitchen appliances repairing">Kitchen appliances repairing</a></li>
						<li><a href="/service?search=Home appliances repairing">Home appliances repairing</a></li>
						<li><a href="/service?search=Other electronics repairing">Other electronics repairing</a></li>
						<li><a href="/service?search=Tiles & flooring installation">Tiles & flooring installation</a></li>
						<li><a href="/service?search=Fabrication & Welding">Fabrication & Welding</a></li>
						<li><a href="/service?search=Tyre puncture repair">Tyre puncture repair</a></li>
					</ul>
				</li>
				<li><a href="/about">About</a></li>
				<li><a href="#">contact</a>
					<ul class="sub-menu">
						<li><a href="/contact">contact</a></li>
						<li><a href="/sign_up">register</a></li>
						<li><a href="/real_Estate">Real_Estate_Reg</a></li>
						<li><a href=""></a></li>
					</ul>
				</li>
			</ul>
		</div>
		</nav>
		</header>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main">
				<article id="post-39" class="post-39 page type-page status-publish hentry">
				<header class="entry-header">
				<h1 class="entry-title">Registertion</h1>
				</header>
				<!-- .entry-header -->
				<div class="entry-content">
						
					
						
					<div class="wpcmsdev-columns">
						<div class="column column-width-one-half">
							<h4>regsiter</h4>						
							
								<form action="/Real_Estate" method="post" enctype="multipart/form-data">
									<p><input class="text" type="text" name="name" placeholder="Username" required=""></p>
									<p><input class="text email" type="email" name="email" placeholder="Email" required=""></p>
									<p><select name="work" id="" class="text">
											<option value="shop">shop</option>
											<option value="Real_Estate">Real_Estate</option>
										</select></p>	
									<p><input class="text" type="text" name="number" placeholder="number" required=""></p>
									<p><select class="text" type="text" name="add" placeholder="number" required="">
											<option value ="aishbag">Aishbag</option>
											<option value ="ashoka Garden">Ashoka Garden</option>
											<option value ="bag-sevania">Bag Sevania</option>
											<option value ="bairagarh">Bairagarh</option>
											<option value ="berasia">Berasia </option>
											<option value ="bilkhiria">Bilkhiria</option>
											<option value ="chhola-mandir">Chhola Mandir</option>
											<option value ="gandhinagar">Gandhi Nagar</option>
											<option value ="gautam-nagar">Gautam Nagar </option>
											<option value ="govindpura">Govindpura</option>
											<option value ="gunga">Gunga</option>
											<option value ="habibganj">Habibganj</option>
											<option value ="hanumanganj">Hanumanganj</option>
											<option value ="jahangirbad">Jahangirbad</option>
											<option value ="kamla-nagar">Kamla Nagar</option>
											<option value ="khajuri-sadak">Khajuri Sadak</option>
											<option value ="kohe-fiza">Kohe Fiza </option>
											<option value ="kolar-road">Kolar Road  </option>
											<option value ="kotwali">Kotwali Bhopal</option>
											<option value ="m-p-nagar">M P Nagar</option>
											<option value ="mangalwara">Mangalwara</option>
											<option value ="misrod">Misrod</option>
											<option value ="najirabad">Najirabad</option>
											<option value ="nishatpura">Nishatpura</option>
											<option value ="parwaliasadak">Parwalia Sadak</option>
											<option value ="piplani">Piplani</option>
											<option value ="ratibarh">Ratibarh</option>
											<option value ="shahjahanabad">Shahjahanabad</option>
											<option value ="shahpura">Shahpura</option>
											<option value ="shyamla-hills">Shyamla Hills</option>
											<option value ="bazaria">Station Bazaria</option>
											<option value ="sukhi-sevania">Sukhi Sevania</option>
											<option value ="tallaiya">Tallaiya</option>
											<option value ="teelajamalpur">Teelajamalpura</option>
											<option value ="tt-nagar">TT Nagar</option>
										</select>
									</p>
									<p><input type="text" name="Description" placeholder="Description" required=""></p>
									<p>select your photo: <input type="file" name="photo"></p>	
									<div class="wthree-text">
										<label class="anim">
											<input type="checkbox" class="checkbox" required="">
											<span>I Agree To The Terms & Conditions</span>
										</label>
										<div class="clear"> </div>
									</div>
										
									<input type="submit" value="Register">
								</form>
							<div class="done">								
								Your message has been sent. Thank you!
							</div>
							
						</div>
						<div class="column column-width-one-half">
							<h4>Find Us: NUMBER</h4>
							<p>
								If you want to hire me or have any feedback or questions about our service in general, please send us a message by completing our enquiry form. It’s best to call though, someone we’ll always be there for you.
							</p>
							<p>
								Monday – Friday: 9am to 5pm<br>
								Saturday: 10am to 2pm<br>
								Sunday: Closed
							</p>
						</div>
					</div>
				</div>
				<!-- .entry-content -->
				</article>
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Royal humpers india</h1>
			 
		</div>
	</div>	
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src='js/jquery.js'></script>
<script src='js/plugins.js'></script>
<script src='js/scripts.js'></script>
<script src='js/masonry.pkgd.min.js'></script>
<script src='js/validate.js'></script>
</body>
</html>