<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Royal humpers india</title>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-layout.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-smallscreen.css')}}" type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/font-awesome.min.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/style.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/easy-responsive-shortcodes.css')}}" type='text/css' media='all'/></head>
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="index.html" rel="home">Royal humpers india</a></h1>
			<h2 class="site-description">This website here to help you</h2>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li><a href="/">Home</a></li>
				
				<li><a href="/shop">shop</a></li>
				
				<li><a href="/event">Events</a></li>
				<li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="">product</a></li>
					<li><a href="">vendor</a></li>
					<li><a href="/realEstate">real estate</a></li>
					<li><a href=""></a>automobile</li>
				</ul>
				</li>
				<li><a href="">service</a>
					<ul class="sub-menu">
						<li value=""><a href="/service?search=plumber">plumber</a></li>
						<li><a href="/service?search=Painters">Painters</a></li>
						<li><a href="/service?search=Carpenters">Carpenters</a></li>
						<li><a href="/service?search=Loading auto service">Loading auto service</a></li>
						<li><a href="/service?search=Electrician">Electrician</a></li>
						<li><a href="/service?search=Key lock repair">Key lock repair</a></li>
						<li><a href="/service?search=Aluminium window & glass repairing">Aluminium window & glass repairing</a></li>
						<li><a href="/service?search=CCTV camera service">CCTV camera service</a></li>
						<li><a href="/service?search=Construction contractor">Construction contractor</a></li>
						<li><a href="/service?search=Water can supplier">Water can supplier</a></li>
						<li><a href="/service?search=Two-wheeler mechanic">Two-wheeler mechanic</a></li>
						<li><a href="/service?search=Four-wheeler mechanic">Four-wheeler mechanic</a></li>
						<li><a href="/service?search=Kitchen appliances repairing">Kitchen appliances repairing</a></li>
						<li><a href="/service?search=Home appliances repairing">Home appliances repairing</a></li>
						<li><a href="/service?search=Other electronics repairing">Other electronics repairing</a></li>
						<li><a href="/service?search=Tiles & flooring installation">Tiles & flooring installation</a></li>
						<li><a href="/service?search=Fabrication & Welding">Fabrication & Welding</a></li>
						<li><a href="/service?search=Tyre puncture repair">Tyre puncture repair</a></li>
					</ul>
				</li>
				<li><a href="/about">About</a></li>
				<li><a href="#">contact</a>
					<ul class="sub-menu">
						<li><a href="/contact">contact</a></li>
						<li><a href="/sign_up">register</a></li>
						<li><a href="/real_Estate">Real_Estate_Reg</a></li>
						<li><a href=""></a></li>
					</ul>
				</li>
			</ul>
		</div>
		</nav>
		</header>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main" role="main">
				<p class="woocommerce-result-count">
					 Showing 1–8 of 12 results
				</p>
				<form action="/shop" method="post" enctype="multipart/form-data">
				<ul class="products">
					{% set items = 0 %}
					{% for emp in data: %}

						
						{% if items%3==1 %}
							<li class="first product">
							<a href="/profile?sno={{emp[0]}}">
							<img src="{{url_for('static',filename='img/prabhat.jpg')}}" height="1">
							<h3>{{emp[1]}}</h3>
							<span class="price"><span class="amount">{{emp[3]}}</span></span>
							<span class="price"><span class="amount">{{emp[4]}}</span></span>
							</a><a href="{{emp[5]}}" class="button">call</a>
							</li>
						{% elif items%4==0 %}
							<li class="last product">
							<a href="/profile?sno={{emp[0]}}">
							<img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j9-520x780-520x600.jpg" alt="">
							<h3>{{emp[1]}}</h3>
							<span class="price"><span class="amount">{{emp[3]}}</span></span>
							<span class="price"><span class="amount">{{emp[4]}}</span></span>
							</a><a href="{{emp[5]}}" class="button">call</a>
							</li>
						{%else%}
							<li class="product">
							<a href="/profile?sno={{emp[0]}}">
							<img src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j1-520x780-520x600.jpg" alt="">
							<h3>{{emp[1]}}</h3>
							<span class="price"><span class="amount">{{emp[3]}}</span></span>
							<span class="price"><span class="amount">{{emp[4]}}</span></span>
							</a><a href="{{emp[5]}}" class="button">call</a>
							</li>
						{% endif %}
						{% set items = items + 1 %}
					{% endfor %}

					
					
				</ul>
				</form>
				<nav class="woocommerce-pagination">
				<ul class="page-numbers">
					<li><span class="page-numbers current">1</span></li>
					<li><a class="page-numbers" href="#">2</a></li>
					<li><a class="next page-numbers" href="#">→</a></li>
				</ul>
				</nav>
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Royal humpers india</h1>
			 
		</div>
	</div>	
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/plugins.js')}}"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
<script src="{{url_for('static',filename='js/masonry.pkgd.min.js')}}"></script>
<script src="{{url_for('static',filename='js/accordion.js')}}"></script>
<script src="{{url_for('static',filename='js/tabs.js')}}"></script>
<script src="{{url_for('static',filename='js/toggle.js')}}"></script>
</body>
</html>