<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Royal humpers india</title>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-layout.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce-smallscreen.css')}}" type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/woocommerce.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/font-awesome.min.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/style.css')}}" type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href="{{url_for('static',filename='css/easy-responsive-shortcodes.css')}}" type='text/css' media='all'/>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="index.html" rel="home">Royal humpers india</a></h1>
			<h2 class="site-description">This website here to help you</h2>
			<h3>Admin Panel</h3>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<div class="menu-menu-1-container">
				<ul id="menu-menu-1" class="menu">
					<li><a href="/upload"> event pic upload</a></li>
					<li><a href="/delete_w"> delete worker</a></li>
					<li><a href=""> delete shop</a></li>
					<li><a href=""> delete estate</a></li>
				</ul>
			</div>
			
		</div>

		</nav>
		<p> </p>
			<form action="/upload2" method="post" enctype="multipart/form-data">
				<p>Name:<input type="text" name="name"></p>
				<p>Photo:<input type="file" name="photo"></p>
				<p><input type="submit" value="upload"></p>
			</form>
		</header>
		<!-- #masthead -->
		
				<!-- .grid -->
				
				<nav class="pagination">
				<span class="page-numbers current">1</span>
				<a class="page-numbers" href="#">2</a>
				<a class="next page-numbers" href="#">Next »</a>
				</nav>
				<br/>
				
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Royal humpers india</h1>
			 
		</div>
	</div>	
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/plugins.js')}}"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
<script src="{{url_for('static',filename='js/masonry.pkgd.min.js')}}"></script>
</body>
</html>